<form method="post" id="form" action="<%= user_new_path %>" novalidate ">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <div class="form-horizontal">
  <div class="form-group">
  <label class="col-sm-5 control-label" %>name</label>
  <div class="col-sm-2">
  <input type="text" name="name" id="name" class="form-control" value="" />
  </div>
  </div>
        <button class="button">Submit</button>  
    </div>
    </form>