<!-- <ul id="progressbar">
<li>Create Account</li>
<li>Educational Profiles</li>
<li class="active">Personal Details</li>
</ul> -->
<div class="form-group">
  <label class="col-sm-5 control-label" %>Email</label>
  <div class="col-sm-2">
  <input type="text" name="email" id="email" class="form-control" value="" />
  </div>