<form method="post" id="form" action="<%= user_step2_path %>" novalidate ">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <div class="form-horizontal">
  <div class="form-group">
  <label class="col-sm-5 control-label">School_name</label>
  <div class="col-sm-2">
  <input type="text" name="school_name" id="school_name" class="form-control" value="" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Percentage</label>
  <div class="col-sm-2">
  <input type="text" name="percentage" id="percentage" class="form-control" value="" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Institution_name</label>
  <div class="col-sm-2">
  <input type="text" name="institution_name" id="institution_name" class="form-control" value="" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Percentage</label>
  <div class="col-sm-2">
  <input type="text" name="percentage" id="percentage" class="form-control" value="" />
  </div>
  </div>
  </div>
  <center><h2>Additional Skills</h2></center>
  <div class="form-horizontal">
  <div class="form-group">
  <label class="col-sm-5 control-label">Skills</label>
  <div class="col-sm-2">
  <input type="text" name="skills" id="skills" class="form-control" value="" />
  </div>
  </div>
  </div>
  <center><h2>Languages Known</h2></center>
  <div class="form-horizontal">
  <div class="form-group">
  <label class="col-sm-5 control-label">Languages_known</label>
  <div class="col-sm-2">
  <input type="text" name="user_language" id="user_language" class="form-control" value="" />
  </div>
  </div>
  </div>