<!DOCTYPE html>
<html>
  <head>
    <title>MiniProject1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul id="progressbar">
     <% if current_page?(user_new_path) || current_page?(root_path) %>
     <li class="active">User Details</li>
     <% else %>
     <li> User Details</li>
     <% end %>
     <% if request.path.include? user_step1_path %>
     <li class="active">Qualification</li>
     <% else %>
     <li>Qualification</li>
     <% end %>
     <% if request.path.include? user_step2_path %>
     <li class="active">verification</li>
     <% else %>
     <li>verification</li>
     <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
