<% fields_for @lang_known do |m| %>
<div class="form-group"> 
<%= m.label :languages_known, :class => "col-sm-5 control-label"  %> 
<div class="col-sm-2"> 
<%= m.text_field :user_language, :class => "form-control", :id => "lang_known",  :placeholder => "Enter your languages" %> 
</div> 
</div> 
<div class="form-group"> 
<div class="col-sm-offset-5 col-sm-10"> 
<%= m.submit "SUBMIT", :class => "btn btn-primary col-sm-1" %>  
</div> 
</div> 
<% end %>